.panel-left{
    margin-left: -30px;
    margin-right: 30px;
}

.panel-right{
    margin-left: -40px;
}

.border-less{
    border: none;
}

.a-pointer{
    cursor: pointer;
}

.list-tree{
    border-right: none;
    border-bottom: none;
    border-top: none;
}

.list-tree span{
    color:#ddd;
    margin-left:-15px ;
}

.panel-body textarea{
    width: 100%;
    height: 60px;
    resize: none;
}
