{% extends 'hosts/dashboard.html' %}

{% block custom-style-import %}
<link href="/static/plugins/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet">
{% endblock %}

{% block content-panel %}
{% include 'hosts/host_list_component.html' %}
    <div class="col-md-9">
        <div class="panel panel-default panel-right">
            <div class="panel-body">
                {% csrf_token %}
                <select  id="task_type" class="selectpicker">
                    <option value="file_send">分发文件到客户端</option>
                    <option value="file_get">从客户端下载文件</option>
                </select>

                <input id="file_upload" name="filename" type="file" multiple class="file-loading">
                <div class="form-group">
                    <label for="exampleInputName2">远程文件路径</label>
                    <input type="text" placeholder="必须输入绝对路径，不要包含文件名" class="form-control"
                           name="remote_file_path" id="remote_file_path" >
                </div>
                <button type="button" class="btn btn-success pull-right"
                        onclick="SubmitTask('multi_file_delivery')">执行任务</button>

                <div id="err-msg"></div>
                <br/>
                <div id="result-box"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block bottom-js %}
{% include 'hosts/multi_task_js.html' %}
{{ block.super }}
    <script src="/static/plugins/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script src="/static/plugins/bootstrap-fileinput/js/plugins/canvas-to-blob.min.js"></script>
    <script src="/static/plugins/bootstrap-fileinput/js/fileinput_locale_zh.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            upload_files = [];

            $("#file_upload").fileinput({
                uploadUrl: "{% url 'file_upload' %}", // server upload action
                uploadAsync: true,
                language:'zh',
                maxFileSize:2000,
                maxFileCount: 5,
            });

            $('#file_upload').on('fileuploaded', function(event, data, previewId, index) {
                var form = data.form, files = data.files, extra = data.extra,
                        response = data.response, reader = data.reader;
                console.log(response);
                upload_files.push(response);
            });

            $("#task_type").on("change",function(){
                if (this.value == 'file_send'){
                    $(".file-input").removeClass("hide");
                    $("#file-download-to-local").addClass("hide")
                }else{
                    $(".file-input").addClass("hide");
                    $("#file-download-to-local").removeClass("hide")
                }
            });//end on change
        });
    </script>

{% endblock %}